.change-size {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);

  &__item {
    border: 2px solid blue;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    padding: 8px 24px;
    text-transform: capitalize;
    transition: background-color .3s;

    &:hover:not(&--active) {
      background: lightblue;
    }

    &--active {
      background: blue;
      color: white;
    }
  }
}
